<%- include("../partials/head.ejs") %>

  <h1>Pokémon</h1>
  <a href="/pokemon/new">Create New Pokémon</a>
<table>
  <ul>
    <% pokemon.forEach((pokemon, index)=> { %>
      <!--<a href="/pokemon/<%= index %>">-->
      <li>
        <a href="/pokemon/<%= index %>">
          <%= pokemon.name %>
        </a>
      </li>
      <a href="/pokemon/<%= index %>">
        <li><img src="<%= pokemon.img%>"></li>
      </a>
      <% }) %>
  </ul>
</table>