<%- include("../partials/head.ejs") %>
  <h1>
    <%= pokemon.name %>
  </h1>
  <img src="<%= pokemon.img%>">
  <h3>Type:
    <%= pokemon.type %>
  </h3>
  <a href="/pokemon/<%= index %>/edit" <button>Edit</button></a>
  <form action="/pokemon/<%= index %>?_method=DELETE" method="post">
    <input type="submit" value="Delete">
  </form>
  <a href="/pokemon">Back to all Pokémon</a>